{%extends 'all-photos/base.html' %}

{% block content %}

{{block.super}}

 <div class="container" style="margin-left: 18%;">

   <div class="row">
     
     <img src="{{photo.photo_image.url}}"  class="img-responsive" alt="" height="30%" width="50%">

   <div class="p-4">
      <h1>Title: {{photo.image_name}}</h1>
      <p>Description: {{photo.description}}</p>
         <p>Location: {{photo.location}}</p>
         <p>Category: {{photo.category}}</p>
         <p>Posted: {{photo.pub_date|timesince}} ago</p>
   </div>
     
      </div>
 </div>

 {% endblock %}